<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Балдырған{% endblock %}</title>
    <script src="https://kit.fontawesome.com/ede4e9a973.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="{% static 'styles/main.css' %}">
    <link rel="shortcut icon" href="{% static '/images/icon.png' %}" type="image/x-icon">
</head>
<body>
    <div id="root">
        <!-- ============================= -->
        <div class="window-sidebar">
            <ul>
                <li>
                    <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Басты бет</a>
                </li>
                {% for subject in subjects %}
                    <li class="">
                        <p>{{ path }}</p>
                        <a href="{% url 'subject_detail' subject.slug %}"><i class="fa-solid fa-gamepad"></i> {{ subject.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <form>
                <h4>Сыныптар</h4>
                <div class="input-group">
                    <input type="checkbox" name="class-1" id="check1">
                    <label for="check1">1-сынып</label>
                </div>
                <div class="input-group">
                    <input type="checkbox" name="class-2" id="check2">
                    <label for="check2">2-сынып</label>
                </div>
                <div class="input-group">
                    <input type="checkbox" name="class-3" id="check3">
                    <label for="check3">3-сынып</label>
                </div>
                <div class="input-group">
                    <input type="checkbox" name="class-4" id="check4">
                    <label for="check4">4-сынып</label>
                </div>
                <div class="input-group submit">
                    <input type="submit" value="Іздеу">
                </div>
            </form>
        </div>

        <div class="wrapper">
            <div class="header">
                <div class="intro-header">
                    <a href="{% url 'home' %}" class="logo"><i class="fas fa-child"></i>baldyrgan</a>
    
                    <form class="search" method="GET">
                        <input type="text" name="search" placeholder="Поиск..." required>
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
    
                    <div class="menu">
                        <span><i class="fa-solid fa-bars"></i></span>
                    </div>
                </div>
            </div>
    
            <section class="main">
                <div class="sidebar">
                    <ul>
                        <li>
                            <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Басты бет</a>
                        </li>
                        {% for subject in subjects %}
                            <li>
                                <a href="{% url 'subject_detail' subject.slug %}"><i class="fa-solid fa-gamepad"></i> {{ subject.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <form>
                        <h4>Сыныптар</h4>
                        <div class="input-group">
                            <input type="checkbox" name="class-1" id="check1">
                            <label for="check1">1-сынып</label>
                        </div>
                        <div class="input-group">
                            <input type="checkbox" name="class-2" id="check2">
                            <label for="check2">2-сынып</label>
                        </div>
                        <div class="input-group">
                            <input type="checkbox" name="class-3" id="check3">
                            <label for="check3">3-сынып</label>
                        </div>
                        <div class="input-group">
                            <input type="checkbox" name="class-4" id="check4">
                            <label for="check4">4-сынып</label>
                        </div>
                        <div class="input-group submit">
                            <input type="submit" value="Іздеу">
                        </div>
                    </form>
                </div>
    
                <div class="container">
                    <div class="block">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </section>
        </div>
    
        <!-- =========================================================================== -->
        <div class="footer">
            <div class="intro-footer">
                <div class="logo">
                    <a href="{% url 'index' %}"><i class="fas fa-child"></i> baldyrgan</a>
                    <p>&copy; baldyrgan 2022</p>
                    <small>Барлық авторлық құқықтар сақталған</small>
                </div>
    
                <div class="ln">
                    <ul>
                        <li>
                            <a href="">Қазақша</a>
                        </li>
                        <li>
                            <a href="">Русский</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const burgerMenu = document.querySelector('.menu');

        burgerMenu.addEventListener('click', function(e) {
            document.querySelector('.window-sidebar').classList.toggle('show');
        });
    </script>
</body>
</html>