<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Балдырған{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/ede4e9a973.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/detail.css' %}">
</head>
<body style="background-image: url('https://cdn.fs.teachablecdn.com/DYHSyOQzClnbu7UQzlhQ');">
    <div id="root">
        <!-- ============================= -->
        <div class="window-sidebar">
            <ul>
                <li>
                    <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Басты бет</a>
                </li>
                {% for lesson in lessons %}
                    <li>
                        <a href="{% url 'lesson_detail' lesson.slug %}"><i class="fa-solid fa-graduation-cap"></i> {{ lesson.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="wrapper">
            <div class="header">
                <div class="intro-header">
                    <a href="{% url 'home' %}" class="logo"><i class="fas fa-child"></i>baldyrgan</a>
    
                    <form class="search" method="GET">
                        <input type="text" name="search" placeholder="Поиск..." required>
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
    
                    <div class="menu">
                        <span><i class="fa-solid fa-bars"></i></span>
                    </div>
                </div>
            </div>
    
            <section class="main">
                <div class="sidebar">
                    <ul>
                        <li>
                            <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Басты бет</a>
                        </li>
                        {% for lesson in lessons %}
                            <li>
                                <a href="{% url 'lesson_detail' lesson.slug %}"><i class="fa-solid fa-graduation-cap"></i> {{ lesson.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
    
                <div class="container">
                    <div class="block">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>

                <!-- ========================================================= -->
<!--                <div class="sidebar right">-->
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <a href="project.html">Жобалар</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="{% url 'tasks' lesson.slug %}">Тапсырмалар</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
            </section>
        </div>
    
        <!-- =========================================================================== -->
        <div class="footer">
            <div class="intro-footer">
                <div class="logo">
                    <a href="{% url 'home' %}"><i class="fas fa-child"></i> baldyrgan</a>
                    <p>&copy; baldyrgan 2022</p>
                    <small>Барлық авторлық құқықтар сақталған</small>
                </div>
    
                <div class="ln">
                    <ul>
                        <li>
                            <a href="">Қазақша</a>
                        </li>
                        <li>
                            <a href="">Русский</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        console.log('Hello world');
        const burgerMenu = document.querySelector('.menu');

        burgerMenu.addEventListener('click', function(e) {
            document.querySelector('.window-sidebar').classList.toggle('show');
        });
    </script>
</body>
</html>