@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --red: #0084FF;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .2s ease-out;
}

*::selection {
    background: var(--red);
    color: #fff;
}

body {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: auto;
}

.wrapper {
    flex: 1;
}

/* ===================================================== */

.header {
    background-color: white;
    border-bottom: 1px solid silver;
    position: sticky;
    top: 0;
}

.intro-header {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    font-size: 1.5rem;
    color: #333;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.logo i {
    color: var(--red);
    margin-right: 10px;
}


.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 5px 20px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    border: 1px solid silver;
    background-color: whitesmoke;
}

.search input:focus {
    border: 1px solid var(--red);
}

.search button {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
}

.intro-header .menu {
    display: none;

}

.intro-header .menu a {
    color: #333;
    font-size: 20px;
}


.menu span {
    font-size: 20px;
    cursor: pointer;
}

/* ================================================= */

.main {
    display: flex;
    align-items: flex-start;
    width: 1280px;
    margin: 40px auto;

}

.sidebar {
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 10px;
    min-width: 220px;
    max-width: 260px;
    border-radius: 5px;
    overflow: hidden;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid silver;
    color: #333;
}
.sidebar ul li a:hover {
    background-color: var(--red);
    color: white;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar form h4 {
    padding: 10px;
    color: dimgray;
}

.sidebar form .input-group {
    padding: 10px;
}

.sidebar form .submit input {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: var(--red);
    display: block;
    cursor: pointer;
}


/* ============================== */
.container {
    width: 100%;
    margin-left: 10px;
}

.block {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin: 0 5px 10px 5px;
    overflow: hidden;
    box-shadow: 0 0 10px silver;
    width: 250px;
}

.box .poster {
    height: 145px;
    overflow: hidden;
}

.box .poster img {
    width: 100%;
    height: auto;
}

.box h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    height: 40px;
    margin: 5px 10px;
    color: #333;
}

.box .category {
    padding: 5px 10px;
    border-bottom: 1px solid silver;
}

.box .category span {
    font-size: 12px;
    color: dimgray;
}

.box .body {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.box .body span {
    font-size: 12px;
    color: dimgray;
}

.box .link {
    margin: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.box .link i {
    margin-right: 10px;
}

.box .link:hover {
    background-color: transparent;
    color: var(--red);
}



/* ================================== */

.footer {
    background-color: white;
    border-top: 1px solid silver;
    position: sticky;
    top: 0;
}

.intro-footer {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo a {
    color: #333;
}

.logo p, small {
    font-size: 12px;
    font-weight: normal;
}

.ln ul {
    list-style: none;
}
.ln ul li a {
    font-size: 12px;
    color: #333;
}

/* ================================================ */
.window-sidebar {
    max-width: 260px;
    width: auto;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    display: none;
    border-right: 1px solid silver;
}

.window-sidebar ul {
    list-style: none;
}
.window-sidebar ul li a {
    padding: 10px 20px;
    border-bottom: 1px solid silver;
    display: block;
    width: 100%;
    color: #333;
}

.window-sidebar ul li a:hover {
    background-color: var(--red);
    color: white;
}

.window-sidebar ul li a i {
    margin-right: 10px;
}

.window-sidebar form h4 {
    padding: 10px 20px;
    color: dimgray;
}

.window-sidebar form .input-group {
    padding: 10px 20px;
}

.window-sidebar form .submit input {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: var(--red);
    display: block;
    cursor: pointer;
}



.show {
    display: block;
}










/* ===================================================================== */

@media screen and (max-width: 1295px) {
    .intro-header, .main, .intro-footer {
        width: 1024px;
    }
}


@media screen and (max-width: 1040px) {
    .intro-header, .main, .intro-footer {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .sidebar {
        display: none;
    }
    .container {
        margin: 0;
    }
    .block {
        justify-content: center;
    }

    .box {
        width: 310px;
    }

    .box .poster {
        height: 175px;
    }
}


@media screen and (max-width: 720px) {
    .intro-header .search, .intro-header .user {
        display: none;
    }

    .intro-header .menu {
        display: block;
    }

    .box {
        width: 500px;
    }

    .box .poster {
        height: 280px;
    }
}


@media screen and (max-width: 545px) {
    .box {
        margin-bottom: 10px;
    }

    .box .poster {
        height: auto;
    }
}
